<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>red</key>
		<string>200,0,0,100</string>
		<key>orange</key>
		<string>250,170,0,100</string>
		<key>yellow</key>
		<string>255,255,0,100</string>
		<key>paleYellow</key>
		<string>255,255,128,100</string>
		<key>green</key>
		<string>0,200,0,100</string>
		<key>cyan</key>
		<string>0,255,255,100</string>
		<key>blue</key>
		<string>0,0,255,100</string>
		<key>purple</key>
		<string>200,0,200,100</string>
		<key>white</key>
		<string>255,255,255,100</string>
		<key>gray</key>
		<string>128,128,128,100</string>
		<key>lightGray</key>
		<string>225,225,225,100</string>
		<key>darkGray</key>
		<string>64,64,64,100</string>
		<key>black</key>
		<string>0,0,0,100</string>
		<key>black85%</key>
		<string>0,0,0,85</string>
		<key>black50%</key>
		<string>0,0,0,50</string>
		<key>black25%</key>
		<string>0,0,0,25</string>
		<key>black10%</key>
		<string>0,0,0,10</string>
		<key>darkText</key>
		<string>30,30,30,100</string>
	</dict>
	<key>borders</key>
	<dict>
		<key>thinGrayRounded</key>
		<dict>
			<key>color</key>
			<string>lightGray</string>
			<key>width</key>
			<real>0.5</real>
			<key>cornerRadius</key>
			<real>10</real>
		</dict>
		<key>thinGraySquare</key>
		<dict>
			<key>color</key>
			<string>lightGray</string>
			<key>width</key>
			<string>0.5</string>
			<key>cornerRadius</key>
			<string>0</string>
		</dict>
		<key>mediumBlackSquare</key>
		<dict>
			<key>color</key>
			<string>black</string>
			<key>width</key>
			<real>1</real>
			<key>cornerRadius</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>fonts</key>
	<dict>
		<key>regular</key>
		<dict>
			<key>font</key>
			<string>system</string>
			<key>style</key>
			<string>regular</string>
		</dict>
		<key>bold</key>
		<dict>
			<key>font</key>
			<string>system</string>
			<key>style</key>
			<string>bold</string>
		</dict>
		<key>italic</key>
		<dict>
			<key>font</key>
			<string>system</string>
			<key>style</key>
			<string>italic</string>
		</dict>
		<key>oswald-light</key>
		<dict>
			<key>font</key>
			<string>Oswald-ExtraLight</string>
			<key>style</key>
			<string>regular</string>
		</dict>
		<key>oswald-regular</key>
		<dict>
			<key>font</key>
			<string>Oswald-Regular</string>
			<key>style</key>
			<string>regular</string>
		</dict>
	</dict>
	<key>application</key>
	<dict>
		<key>TKPrimaryButton</key>
		<dict>
			<key>backgroundColor</key>
			<string>green</string>
			<key>tintColor</key>
			<string>white</string>
		</dict>
		<key>TKSecondaryButton</key>
		<dict>
			<key>backgroundColor</key>
			<string>gray</string>
			<key>tintColor</key>
			<string>white</string>
		</dict>
		<key>TKDestructiveButton</key>
		<dict>
			<key>backgroundColor</key>
			<string>red</string>
			<key>tintColor</key>
			<string>white</string>
		</dict>
		<key>TKTitleLabel</key>
		<dict>
			<key>textColor</key>
			<string>cyan</string>
			<key>font</key>
			<string>oswald-regular</string>
			<key>fontSize</key>
			<integer>20</integer>
		</dict>
		<key>TKRegularLabel</key>
		<dict>
			<key>textColor</key>
			<string>green</string>
			<key>font</key>
			<string>oswald-light</string>
			<key>fontSize</key>
			<integer>15</integer>
		</dict>
		<key>TKCaptionLabel</key>
		<dict>
			<key>textColor</key>
			<string>purple</string>
			<key>font</key>
			<string>italic</string>
			<key>fontSize</key>
			<integer>15</integer>
		</dict>
		<key>TKDetailLabel</key>
		<dict>
			<key>textColor</key>
			<string>gray</string>
			<key>font</key>
			<string>regular-small</string>
			<key>fontSize</key>
			<integer>12</integer>
		</dict>
		<key>TKBorderedView</key>
		<dict>
			<key>border</key>
			<string>thinGrayRounded</string>
			<key>backgroundColor</key>
			<string>black10%</string>
		</dict>
		<key>TKSwitch</key>
		<dict>
			<key>onTintColor</key>
			<string>blue</string>
		</dict>
	</dict>
</dict>
</plist>
